.attendeevideofeed-component {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow:hidden;

  video {
    height: 100%;
    object-fit: cover;
  }

  .button-row {
    position: absolute;
    bottom: 0;
    left: -5px;
    z-index:3;
    overflow: hidden;
    white-space: nowrap;
  }
}
