.introscreen-component {
  height: 100%;
  background: black;
}

.canvas-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:0;
}

.intro-canvas {
  flex-basis: 100%;
  max-width: 100%;

  min-width: 0;
  object-fit: cover;
}

@media (max-width: 500px), (max-height: 500px) {
  .canvas-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 10;
  }
}


