.livestreamscreen-component {
    width:100%;
    height: 100%;
    .video-js {
      width: 100%;
      height: 100%;
    }
      
    @media (max-width: 500px), (max-height: 500px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 10;
    }
  }
  