.historytab-component {
  max-height: 100%;

  .tab-panel-list {
    max-height: 100%;
  }
}


.headless-tab .historytab-component {

  .tab-panel-list {
    max-height: 100vh;
    overflow: auto;
  } 
}
