.liveshowscreen-component {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 300px;
  grid-template-rows: minmax(0, 1fr) 240px;
  grid-template-areas:
    "main-area sidebar"
    "video-row video-row";

  .main-area {
    // border: 1px solid pink;
    grid-area: main-area;
  }
  .chat-area {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-wrap: nowrap;

    .chat-messages {
      flex: 1 1 100%;
      // border: 1px dashed white;
      overflow: auto;
    }

    .chat-field {
      flex: 0 0 auto;
    }
  }


  @media (max-width: 500px), (max-height: 500px){
    .main-area {
      display: none;
    }
  }
}