.staticvideoscreen-component {
  height: 100%;
  background: black;

  .static-video {
    flex-basis: 100%;
    max-width: 100%;
    max-height: 100%;
  
    min-width: 0;
    object-fit: cover;
  }
}

.static-video-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:0;
}

@media (max-width: 500px), (max-height: 500px) {
  .static-video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 10;
  }
}
